 <section id="educacion" name="educacion">
   <!--DESCRIPCIÓN EDUCACIÓN-->
     <div class="container seccioninterno">
       <div class="container">
         <div class="row edicion">
           <div class="col-lg-3">
             <h3>EDUCACIÓN</h3>
           </div>
           <div  class="btn-edit col-lg-3"> <!---->
            <button *ngIf="isUserLogged" type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#educacionForm" (click)="onNewEducation()">
              <img src="https://img.icons8.com/material-outlined/24/ffffff/add.png"/>
            </button> 
           </div> <!--COL-->  
            </div> <!--row--> 
         <br> <br> 
         <ul>
           <li *ngFor="let educacion of educacionLista; let i = index">
         <div class="row edicion">   
           <div class="col-lg-3">
             <img [src]="educacion.logo" height="50px" width="150px"/>
           </div> <!--col-->  
           <div class="col-lg-3">
             <h4>{{educacion.institucion}}</h4>
                 <h5>{{educacion.descripcion}}</h5> 
                 <p><time>{{educacion.inicio}}</time> - <time>{{educacion.fin}}</time></p>
           </div> <!--col-->    


         <div class=" col-lg-3 data-control"> <!---->
          <button *ngIf="isUserLogged"  type="button" class="btn" data-bs-toggle="modal" data-bs-target="#educacionForm" (click)="onEditEducation(i)">
            <img src="https://img.icons8.com/material-outlined/24/ffffff/pencil--v1.png"/>
          </button>  <button *ngIf="isUserLogged"  type="button" class="btn" (click)="onDeleteEducation(i)">  <img src="https://img.icons8.com/material-outlined/24/ffffff/trash--v1.png"/></button>
          </div> <!--col-->
      </div> <!--row-->   

         <br><hr><br> 
          </li>   
         </ul>
         </div>  
     </div> <!--container -->
   </section>

   <!-- Modal -->
<div class="modal fade" id="educacionForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Educación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form [formGroup]="educationForm" (ngSubmit)="onSubmit()">
        <input type="hidden" name="id" formControlName="id">
            
        <div class="form-group">
            <label for="exampleFormControlInput1">Institución</label>
            <input type="text" class="form-control"  formControlName="institucion" placeholder="" name="institucion"
            [ngClass]="{'is-invalid': this.educationForm.get('institucion')?.errors && this.educationForm.get('institucion')?.touched, 'is-valid': 
            !this.educationForm.get('institucion')?.errors && this.educationForm.get('institucion')?.touched }" 
            class="form-control" required>
            <div *ngIf="this.educationForm.get('institucion')?.errors && this.educationForm.get('institucion')?.touched">
                <span *ngIf="this.educationForm.get('institucion')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                <span *ngIf="this.educationForm.get('institucion')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 2 caracteres.</span>             
              </div> 
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Titulación</label>
            <textarea class="form-control" formControlName="descripcion" rows="3" name="descripcion"
            [ngClass]="{'is-invalid': this.educationForm.get('descripcion')?.errors && this.educationForm.get('descripcion')?.touched, 'is-valid': 
            !this.educationForm.get('descripcion')?.errors && this.educationForm.get('descripcion')?.touched }" 
            class="form-control" required>
          </textarea>
            <div *ngIf="this.educationForm.get('descripcion')?.errors && this.educationForm.get('descripcion')?.touched">
                <span *ngIf="this.educationForm.get('descripcion')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                <span *ngIf="this.educationForm.get('descripcion')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 2 caracteres.</span>                           </div>
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Fecha de Inicio</label>
            <input type="text" class="form-control" formControlName="inicio" rows="3" name="inicio"
            [ngClass]="{'is-invalid': this.educationForm.get('inicio')?.errors && this.educationForm.get('inicio')?.errors && this.educationForm.get('inicio')?.touched, 'is-valid': 
            !this.educationForm.get('inicio')?.errors && this.educationForm.get('inicio')?.touched }" 
            class="form-control" required>
            <div *ngIf="this.educationForm.get('inicio')?.errors && this.educationForm.get('inicio')?.touched">
              <span *ngIf="this.educationForm.get('inicio')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
              <span *ngIf="this.educationForm.get('inicio')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 4 caracteres.</span>                  
            </div> 
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Fecha de Finalización</label>
            <input type="text" class="form-control" formControlName="fin" rows="3" name="fin"
            [ngClass]="{'is-invalid': this.educationForm.get('fin')?.errors &&  this.educationForm.get('fin')?.touched, 'is-valid':!this.educationForm.get('fin')?.errors && this.educationForm.get('fin')?.touched }" 
            class="form-control" required>
            <div *ngIf="this.educationForm.get('fin')?.errors && this.educationForm.get('fin')?.touched">
              <span *ngIf="this.educationForm.get('fin')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
              <span *ngIf="this.educationForm.get('fin')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 4 caracteres.</span>                  
            </div> 
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Logo de la Institución</label>
            <select class="form-control" formControlName="logo" id="imagen" name="logo"
            [ngClass]="{'is-invalid': this.educationForm.get('logo')?.errors && this.educationForm.get('logo')?.touched, 'is-valid': 
            !this.educationForm.get('logo')?.errors && this.educationForm.get('logo')?.touched }" 
            class="form-control" required>
            <option value="../assets/Imagenes/AP en colores.PNG">ARGENTINA PROGRAMA</option>
            <option value="../assets/Imagenes/CodoACodo_Logo.png">CODO A CODO</option>
            <option value="../assets/Imagenes/logo-filo-uba.jpg">FILOSOFÍA Y LETRAS</option>
            <option value="../assets/Imagenes/UTN_Logo.png">UTN</option>
            <option value="../assets/Imagenes/UTN_FRT_Logo.png">UTN FRT</option>
          </select>

                 <div *ngIf="this.educationForm.get('logo')?.errors && this.educationForm.get('logo')?.touched">
              <span *ngIf="this.educationForm.get('logo')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
          </div> 
          </div>
           <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="educationForm.invalid">Guardar</button>
      </div>
        </form>
      </div>
     
    </div>
  </div>
</div>

<!-- Modal Borrar
<div class="modal fade" id="modalborraredu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Borrar elemento</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <h5>Se borrará el elemento seleccionado ¿Está seguro?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Borrar</button>
      </div>
    </div>
  </div>
</div> -->