<section id="proyectos" name="proyectos">
    <!--PROYECTOS -->
    <div class="container seccioninterno">
      <div class="container">
      <div class="row edicion">
        <div class="col-lg-3">
          <h3>PROYECTOS</h3>
        </div>
        <div class="col-lg-3">
          <button *ngIf="isUserLogged"  type="button" class="btn" data-bs-toggle="modal" 
          data-bs-target="#modalproyectos" (click)="onNewProyecto()">
            <img src="https://img.icons8.com/material-outlined/24/ffffff/add.png"/></button>  
        </div> <!--COL-->  
       </div> <!--row-->
      <br> <br>
      <ul>
        <li *ngFor="let proyecto of proyectosLista; let i = index">
      <div class="row edicion">
        <div class="col-lg-3">
          <p><a href={{proyecto.link}} target="_blank"><img class="img-fluid estilo" [src]="proyecto.imagen" alt="Captura de pantalla del proyecto" height="100" width="200"></a></p>
        </div>
        <div class="col-lg-3">
          <h3>{{proyecto.titulo}}</h3>
          <h4>{{proyecto.descripcion}}<br/><br/></h4>
        </div> 
        <div  class="col-lg-3"> 
          <button *ngIf="isUserLogged" type="button" class="btn" data-bs-toggle="modal" 
          data-bs-target="#modalproyectos" (click)="onEditProyecto(i)">
            <img src="https://img.icons8.com/material-outlined/24/ffffff/pencil--v1.png"/>
          </button> 
          <button *ngIf="isUserLogged" type="button" class="btn" (click)="onDeleteProyecto(i)">
            <img src="https://img.icons8.com/material-outlined/24/ffffff/trash--v1.png"/></button> 
        </div>
      </div> <!--/.row -->
      <br><hr><br>
      </li>   
      </ul>
    </div><!--/.container -->
  </div><!--/.container seccioninterno -->
  </section>

<!--Modal-->
  <div class="modal fade" id="modalproyectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar un nuevo proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="proyectoForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="exampleFormControlInput1">Título del proyecto</label>
              <input type="text" class="form-control" formControlName="titulo" placeholder=""
              [ngClass]="{'is-invalid': this.proyectoForm.get('titulo')?.errors && this.proyectoForm.get('titulo')?.touched, 'is-valid': 
            !this.proyectoForm.get('titulo')?.errors && this.proyectoForm.get('titulo')?.touched }" 
            class="form-control" required>
            <div *ngIf="this.proyectoForm.get('titulo')?.errors && this.proyectoForm.get('titulo')?.touched">
                <span *ngIf="this.proyectoForm.get('titulo')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                <span *ngIf="this.proyectoForm.get('titulo')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 4 caracteres.</span>             
              </div> 
            </div><br>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Descripción del proyecto</label>
              <textarea class="form-control" formControlName="descripcion" rows="3"
              [ngClass]="{'is-invalid': this.proyectoForm.get('descripcion')?.errors && this.proyectoForm.get('descripcion')?.touched, 'is-valid': 
              !this.proyectoForm.get('descripcion')?.errors && this.proyectoForm.get('descripcion')?.touched }" 
              class="form-control" required>  </textarea>
              <div *ngIf="this.proyectoForm.get('descripcion')?.errors && this.proyectoForm.get('descripcion')?.touched">
                  <span *ngIf="this.proyectoForm.get('descripcion')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                  <span *ngIf="this.proyectoForm.get('descripcion')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 5 caracteres.</span>             
                </div> 
            
            </div> <br>
            <div class="form-group">
              <label for="exampleFormControlInput1">Link al proyecto</label>
              <input type="text" class="form-control" formControlName="link" placeholder=""
              [ngClass]="{'is-invalid': this.proyectoForm.get('link')?.errors && this.proyectoForm.get('link')?.touched, 'is-valid': 
              !this.proyectoForm.get('link')?.errors && this.proyectoForm.get('link')?.touched }" 
              class="form-control" required>  
              <div *ngIf="this.proyectoForm.get('link')?.errors && this.proyectoForm.get('link')?.touched">
                  <span *ngIf="this.proyectoForm.get('link')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                  <span *ngIf="this.proyectoForm.get('link')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 10 caracteres.</span>             
                </div> 
            </div> <br>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Imagen</label>
              <select class="form-control" formControlName="imagen" id="imagen"
              [ngClass]="{'is-invalid': this.proyectoForm.get('imagen')?.errors && this.proyectoForm.get('imagen')?.touched, 'is-valid': 
              !this.proyectoForm.get('imagen')?.errors && this.proyectoForm.get('imagen')?.touched }" 
              class="form-control" required>
              <option value="../assets/Imagenes/Index_CodoACodo.PNG">GICA</option>
              <!--<option value="../assets/Imagenes/CIRUELO.JPG">CIRUELO</option>
              <option value="../assets/Imagenes/RADAR.JPG">RADAR</option>
              <option value="../assets/Imagenes/CONICET_Logo.png">CONICET</option>
              <option value="../assets/Imagenes/MUSEO.PNG">MUSEO</option>-->
            </select>
              <div *ngIf="this.proyectoForm.get('imagen')?.errors && this.proyectoForm.get('imagen')?.touched">
                <span *ngIf="this.proyectoForm.get('imagen')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                 </div> 
            </div>
            <input type="hidden" formControlName="id" name="proyectosId" value="">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" [disabled]="proyectoForm.invalid">Guardar</button>
            </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>

<!-- Modal Borrar 
<div class="modal fade" id="modalborrarpro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Borrar elemento</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <h5>Se borrará el elemento seleccionado ¿Está seguro?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Borrar</button>
      </div>
    </div>
  </div>
</div>-->