<section id="acercade" name="acercade">
  <ul>
    <li *ngFor="let encabezado of encabezadoList; let i = index">
  <div class="row edicion"> 
     <div id="intro" class="container">
     <div class="container edicion">
      <h2>{{encabezado.titulo}} {{encabezado.nombre}}</h2>
        <p>
          <button *ngIf="isUserLogged" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editarencabezado" (click)=" onEditarEncabezado(i)"> 
            <img src="https://img.icons8.com/material-outlined/24/ffffff/pencil--v1.png"/>
          </button>        </p>
      </div>

       <div class="container" id="descripcion">   
          <div class="col-6 col-lg-4" id="avatar">
            <img [src]="encabezado.foto" class="avatar img-fluid" width="100" height="100" alt="Foto de perfil">
          </div>
          
          <div class="col-sm-6 col-lg-8">
           <h3>SOBRE MÍ</h3>
            <br> <br> <br> <br>
            <p>{{encabezado.descripcion}} </p>
            <br><br><br><br><br>
            <p><img src="https://img.icons8.com/material-outlined/24/ffffff/worldwide-location.png"/> {{encabezado.ubicacion}} </p> 
            <br>
            <p>Contacto: 
              <a [href]="encabezado.contacto"><img src="https://img.icons8.com/material-outlined/24/ffffff/gmail-new.png"/></a>  
              <a [href]="encabezado.linkedin" target=”_blank”><img src="https://img.icons8.com/material-outlined/24/ffffff/linkedin--v1.png"/></a>
              <a [href]="encabezado.github" target=”_blank”><img src="https://img.icons8.com/material-outlined/24/ffffff/github.png"/></a>
              </p> <br> 
          </div>

        </div><!--/container -->
     </div><!--/ #intro -->
  </div>
    </li>
  </ul>
    </section>

<div class="modal fade" id="editarencabezado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar datos personales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form [formGroup]="encabezadoForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" name="encabezadoId" value="">
            <div class="form-group">
            <label for="exampleFormControlInput1">Título</label>
            <input type="text" class="form-control" formControlName="titulo" placeholder="Título"
            [ngClass]="{'is-invalid': this.encabezadoForm.get('titulo')?.errors && this.encabezadoForm.get('titulo')?.touched, 'is-valid': 
            !this.encabezadoForm.get('titulo')?.errors && this.encabezadoForm.get('titulo')?.touched }" 
            class="form-control" required>
            <div *ngIf="this.encabezadoForm.get('titulo')?.errors && this.encabezadoForm.get('titulo')?.touched">
                <span *ngIf="this.encabezadoForm.get('titulo')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                <span *ngIf="this.encabezadoForm.get('titulo')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 2 caracteres.</span>             
              </div> 
          </div> <br>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre"
            [ngClass]="{'is-invalid': this.encabezadoForm.get('nombre')?.errors && this.encabezadoForm.get('nombre')?.touched, 'is-valid': 
            !this.encabezadoForm.get('nombre')?.errors && this.encabezadoForm.get('nombre')?.touched }" 
            class="form-control" required>
            <div *ngIf="this.encabezadoForm.get('nombre')?.errors && this.encabezadoForm.get('nombre')?.touched">
                <span *ngIf="this.encabezadoForm.get('nombre')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                <span *ngIf="this.encabezadoForm.get('nombre')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 3 caracteres.</span>             
              </div> 
          </div> <br>
    
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Descripción personal</label>
            <textarea class="form-control" formControlName="descripcion" rows="3"
            [ngClass]="{'is-invalid': this.encabezadoForm.get('descripcion')?.errors && this.encabezadoForm.get('descripcion')?.touched, 'is-valid': 
            !this.encabezadoForm.get('descripcion')?.errors && this.encabezadoForm.get('descripcion')?.touched }" 
            class="form-control" required> </textarea>
            <div *ngIf="this.encabezadoForm.get('descripcion')?.errors && this.encabezadoForm.get('descripcion')?.touched">
                <span *ngIf="this.encabezadoForm.get('descripcion')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                <span *ngIf="this.encabezadoForm.get('descripcion')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 10 caracteres.</span>             
              </div> 
          </div><br>
      <div class="form-group">
        <label for="exampleFormControlInput3">Ubicación</label>
        <input type="text" class="form-control" formControlName="ubicacion" placeholder="Ubicación"
        [ngClass]="{'is-invalid': this.encabezadoForm.get('ubicacion')?.errors && this.encabezadoForm.get('ubicacion')?.touched, 'is-valid': 
            !this.encabezadoForm.get('ubicacion')?.errors && this.encabezadoForm.get('ubicacion')?.touched }" 
            class="form-control" required> 
            <div *ngIf="this.encabezadoForm.get('ubicacion')?.errors && this.encabezadoForm.get('ubicacion')?.touched">
                <span *ngIf="this.encabezadoForm.get('ubicacion')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                <span *ngIf="this.encabezadoForm.get('ubicacion')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 5 caracteres.</span>             
              </div> 
      </div> <br>
      <div class="form-group">
        <label for="exampleFormControlInput1">Correo electrónico</label>
        <input type="email" class="form-control" formControlName="contacto" placeholder="usuario@ejemplo.com"
        [ngClass]="{'is-invalid': this.encabezadoForm.get('contacto')?.errors && 
        this.encabezadoForm.get('contacto')?.touched, 'is-valid': 
        !this.encabezadoForm.get('contacto')?.errors && this.encabezadoForm.get('contacto')?.touched }" 
        class="form-control" required>

        <div *ngIf="this.encabezadoForm.get('contacto')?.errors && this.encabezadoForm.get('contacto')?.touched">
            <span *ngIf="this.encabezadoForm.get('contacto')?.hasError('required')" class="text-danger">El email es requerido.</span>
            <span *ngIf="this.encabezadoForm.get('contacto')?.hasError('email')" class="text-danger">El email ingresado no responde al formato esperado.</span>
        </div>
      </div><br>
      <div class="form-group">
        <label for="exampleFormControlInput1">LinkedIn</label>
        <input type="text" class="form-control" formControlName="linkedin" placeholder="Cuenta de LinkedIn"
        [ngClass]="{'is-invalid': this.encabezadoForm.get('linkedin')?.errors && this.encabezadoForm.get('linkedin')?.touched, 'is-valid': 
            !this.encabezadoForm.get('linkedin')?.errors && this.encabezadoForm.get('linkedin')?.touched }" 
            class="form-control" required> 
            <div *ngIf="this.encabezadoForm.get('linkedin')?.errors && this.encabezadoForm.get('linkedin')?.touched">
                <span *ngIf="this.encabezadoForm.get('linkedin')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
            </div> 
      </div><br>
      <div class="form-group">
        <label for="exampleFormControlInput1">GitHub</label>
        <input type="text" class="form-control" formControlName="github" placeholder="Repositorio de GitHub"
        [ngClass]="{'is-invalid': this.encabezadoForm.get('linkedin')?.errors && this.encabezadoForm.get('github')?.touched, 'is-valid': 
            !this.encabezadoForm.get('github')?.errors && this.encabezadoForm.get('github')?.touched }" 
            class="form-control" required> 
            <div *ngIf="this.encabezadoForm.get('github')?.errors && this.encabezadoForm.get('github')?.touched">
                <span *ngIf="this.encabezadoForm.get('github')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
            </div>               
      </div><br>
     
     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="encabezadoForm.invalid">Guardar</button>
      </div>
   </form>
      </div>
     
    </div>
  </div>
</div>