<section id="habilidades" name="habilidades">
    <div class="container seccioninterno">
      <div class="container">
        <div class="row edicion">
          <div class="col-lg-3">
          <h3>SOFT SKILLS</h3>
          </div>
          <div class="col-lg-3">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#softskills">
            <img src="https://img.icons8.com/material-outlined/24/000000/add.png"/>
          </button>  
        </div> <!--COL-->  
        </div> <!--row--> 
      </div>
       <br> <br>
      <div class="container">
   
      <div class="col-sm-8 align-self-center">                                   
             <h4>Curso Accenture: Autoconfianza - Seguridad en sí mismo</h4>
             <br>    
               <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><h5>Máster (Nivel 6)</h5></div>
               </div>
               <br>       
              <h4>Curso Accenture: Comunicación - Expresión escrita</h4>
              <br>    
               <div class="progress" style="height: 20px;">
             <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 83%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><h5>Avanzado (Nivel 5)</h5></div>
              </div>
              <br>         
             <h4>Curso Accenture: Flexibilidad</h4>
             <br>    
              <div class="progress" style="height: 20px;">
              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 83%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><h5>Avanzado (Nivel 5)</h5></div>
              </div>
            </div>
          
      </div> <!--container-->


      <br>
    </div><!--container interno-->
  </section>

  <div class="modal fade" id="softskills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar una nueva Soft Skill</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Institución</label>
              <input type="text" class="form-control" id="institucion" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Soft Skill</label>
              <input type="text" class="form-control" id="softskill" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Nivel</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>