<section id="laboral" name="laboral">
    <!--DESCRIPCIÓN EXPERIENCIA LABORAL-->
     <div class="container seccioninterno">
       <div class="container">
         <div class="row edicion">
           <div class="col-lg-3">
             <h3>EXPERIENCIA LABORAL</h3>            
           </div>
          <div  class="col-lg-3">
            <button *ngIf="isUserLogged" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalexperiencia"  (click)="onNewExperiencia()">
              <img src="https://img.icons8.com/material-outlined/24/ffffff/add.png"/>
            </button> 
          </div> <!--COL-->  
         </div> <!--row--> 
     <br> <br>
         <ul>
           <li *ngFor="let experiencia of experienciaLista; let i = index">
        <div class="row edicion">           
          <div class="col-lg-3">
            <img [src]="experiencia.logo" height="50" width="150"/>
          </div>      
          <div class="col-lg-3">
            <h3>{{experiencia.tarea}}</h3>
            <h4>{{experiencia.institucion}}</h4>
             <p><time>{{experiencia.inicio}}</time> -<time>{{experiencia.fin}}</time></p>
             <p>{{experiencia.descripcion}}</p>
          </div>        
          <div  class="col-lg-3">     
            <button *ngIf="isUserLogged" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalexperiencia" (click)="onEditExperiencia(i)">
              <img src="https://img.icons8.com/material-outlined/24/ffffff/pencil--v1.png"/>
            </button> 
            <button *ngIf="isUserLogged" type="button" class="btn" (click)="onDeleteExperiencia(i)"><img src="https://img.icons8.com/material-outlined/24/ffffff/trash--v1.png"/></button>
            <!--data-bs-toggle="modal" data-bs-target="#modalborrarexp"-->          
          </div>
            </div> <!--row-->
       <br><hr> <br>
       </li>
         </ul>
    </div><!--/.row -->
    </div>  
    </section>



<!-- Modal -->
<div class="modal fade" id="modalexperiencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Experiencia laboral</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="experienciaForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleFormControlInput1">Puesto</label>
            <input type="text" class="form-control" formControlName="tarea" placeholder="" 
            [ngClass]="{'is-invalid': this.experienciaForm.get('tarea')?.errors && this.experienciaForm.get('tarea')?.touched, 'is-valid': 
            !this.experienciaForm.get('tarea')?.errors && this.experienciaForm.get('tarea')?.touched }" 
            class="form-control" required>
           <div *ngIf="this.experienciaForm.get('tarea')?.errors && this.experienciaForm.get('tarea')?.touched">
                <span *ngIf="this.experienciaForm.get('tarea')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                <span *ngIf="this.experienciaForm.get('tarea')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 5 caracteres.</span>                           </div>
           </div><br>
          <div class="form-group">
            <label for="exampleFormControlInput1">Institución</label>
            <input type="text" class="form-control" formControlName="institucion" placeholder=""
            [ngClass]="{'is-invalid': this.experienciaForm.get('institucion')?.errors && this.experienciaForm.get('institucion')?.touched, 'is-valid': 
            !this.experienciaForm.get('institucion')?.errors && this.experienciaForm.get('institucion')?.touched }" 
            class="form-control" required>
            <div *ngIf="this.experienciaForm.get('institucion')?.errors && this.experienciaForm.get('institucion')?.touched">
                <span *ngIf="this.experienciaForm.get('institucion')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                <span *ngIf="this.experienciaForm.get('institucion')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 2 caracteres.</span>             
              </div> 
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Fecha de Inicio</label>
            <input type="text" class="form-control" formControlName="inicio" rows="3"
            [ngClass]="{'is-invalid': this.experienciaForm.get('inicio')?.errors && this.experienciaForm.get('inicio')?.errors && this.experienciaForm.get('inicio')?.touched, 'is-valid': 
            !this.experienciaForm.get('inicio')?.errors && this.experienciaForm.get('inicio')?.touched }" 
            class="form-control" required>
            <div *ngIf="this.experienciaForm.get('inicio')?.errors && this.experienciaForm.get('inicio')?.touched">
              <span *ngIf="this.experienciaForm.get('inicio')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
              <span *ngIf="this.experienciaForm.get('inicio')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 4 caracteres.</span>                  
            </div> 
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Fecha de Finalización</label>
            <input type="text" class="form-control" formControlName="fin" rows="3"
            [ngClass]="{'is-invalid': this.experienciaForm.get('fin')?.errors &&  this.experienciaForm.get('fin')?.touched, 'is-valid':!this.experienciaForm.get('fin')?.errors && this.experienciaForm.get('fin')?.touched }" 
            class="form-control" required>
            <div *ngIf="this.experienciaForm.get('fin')?.errors && this.experienciaForm.get('fin')?.touched">
              <span *ngIf="this.experienciaForm.get('fin')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
              <span *ngIf="this.experienciaForm.get('fin')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 4 caracteres.</span>                  
            </div> 
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Tareas realizadas</label>
            <textarea class="form-control" formControlName="descripcion" rows="3"
            [ngClass]="{'is-invalid': this.experienciaForm.get('descripcion')?.errors && this.experienciaForm.get('descripcion')?.touched, 'is-valid': 
            !this.experienciaForm.get('descripcion')?.errors && this.experienciaForm.get('descripcion')?.touched }" 
            class="form-control" required>
          </textarea>
            <div *ngIf="this.experienciaForm.get('descripcion')?.errors && this.experienciaForm.get('descripcion')?.touched">
                <span *ngIf="this.experienciaForm.get('descripcion')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
                <span *ngIf="this.experienciaForm.get('descripcion')?.hasError('minlength')" class="text-danger">El campo debe tener al menos 5 caracteres.</span>                           </div>
          </div><br>
          <br>
          <input type="hidden" formControlName="id" name="experienciaId" value="">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Logo de la Institución</label>
            <select class="form-control" formControlName="logo" id="imagen"
            [ngClass]="{'is-invalid': this.experienciaForm.get('logo')?.errors && this.experienciaForm.get('logo')?.touched, 'is-valid': 
            !this.experienciaForm.get('logo')?.errors && this.experienciaForm.get('logo')?.touched }" 
            class="form-control" required >
              <option [value]="item" *ngFor="let item of imagenes">{{item}}</option>
            </select>
            <div *ngIf="this.experienciaForm.get('logo')?.errors && this.experienciaForm.get('logo')?.touched">
              <span *ngIf="this.experienciaForm.get('logo')?.hasError('required')" class="text-danger">El campo es obligatorio.</span>  
          </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" [disabled]="experienciaForm.invalid">Guardar</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>

<!-- Modal Borrar
<div class="modal fade" id="modalborrarexp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Borrar elemento</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <h5>Se borrará el elemento seleccionado ¿Está seguro?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Borrar</button>
      </div>
    </div>
  </div>
</div> -->