<section id="laboral" name="laboral">
    <!--DESCRIPCIÓN EXPERIENCIA LABORAL-->
     <div class="container seccioninterno">
       <div class="container">
         <div class="row edicion">
           <div class="col-lg-3">
             <h3>EXPERIENCIA LABORAL</h3>            
           </div>
          <div  class="col-lg-3">
            <button *ngIf="isUserLogged" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalexperiencia"  (click)="onNewExperiencia()">
              <img src="https://img.icons8.com/material-outlined/24/000000/add.png"/>
            </button> 
          </div> <!--COL-->  
         </div> <!--row--> 
     <br> <br>
         <ul>
           <li *ngFor="let experiencia of experienciaLista; let i = index">
        <div class="row edicion">           
          <div class="col-lg-3">
            <img [src]="experiencia.logo" height="50" width="250"/>
          </div>      
          <div class="col-lg-3">
            <h3>{{experiencia.tarea}}</h3>
            <h4>{{experiencia.institucion}}</h4>
             <p><time>{{experiencia.inicio}}</time> -<time>{{experiencia.fin}}</time></p>
             <p>{{experiencia.descripcion}}</p>
          </div>        
          <div  class="col-lg-3">     
            <button *ngIf="isUserLogged" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalexperiencia" (click)="onEditExperiencia(i)">
              <img src="https://img.icons8.com/material-outlined/24/000000/pencil--v1.png"/>
            </button> 
            <button *ngIf="isUserLogged" type="button" class="btn" (click)="onDeleteExperiencia(i)"><img src="https://img.icons8.com/material-outlined/24/000000/trash--v1.png"/></button>
            <!--data-bs-toggle="modal" data-bs-target="#modalborrarexp"-->          
          </div>
            </div> <!--row-->
       <br><hr> <br>
       </li>
         </ul>
    </div><!--/.row -->
    </div>  
    </section>



<!-- Modal -->
<div class="modal fade" id="modalexperiencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Experiencia laboral</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="experienciaForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleFormControlInput1">Puesto</label>
            <input type="text" class="form-control" formControlName="tarea" placeholder="">
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlInput1">Institución</label>
            <input type="text" class="form-control" formControlName="institucion" placeholder="">
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Fecha de Inicio</label>
            <input type="text" class="form-control" formControlName="inicio" rows="3">
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Fecha de Finalización</label>
            <input type="text" class="form-control" formControlName="fin" rows="3">
          </div><br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Tareas realizadas</label>
            <textarea class="form-control" formControlName="descripcion" rows="3"></textarea>
          </div><br>
          <input type="hidden" formControlName="id" name="experienciaId" value="">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Logo de la Institución</label>
            <select class="form-control" formControlName="logo" id="imagen" >
              <option [value]="item" *ngFor="let item of imagenes">{{item}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>

<!-- Modal Borrar
<div class="modal fade" id="modalborrarexp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Borrar elemento</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <h5>Se borrará el elemento seleccionado ¿Está seguro?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Borrar</button>
      </div>
    </div>
  </div>
</div> -->